.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  background: #fff;
}

.logo {
    width: 108px;
  height: 41.93px;
}

.rightMenu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.loginBtn {
  border: none;
  background: none;
  cursor: pointer;
}
.Login-img {
  width: 63px;        /* ✅ 버튼 고정 크기 */
  height: 27px;
}
.mypage {
  font-size: 14px;
  color: #333;
}


