.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white; /* 전체 배경색 */
}

/* 카드 */
.login-card {
  background-color: #E7F2F4; /* 연한 파랑톤 */
  padding: 40px 30px;
  border-radius: 36px;
  width: 346px;
  height: 536px;
  top: 169px;
  left: 28px;
  box-sizing: border-box;
  text-align: center;
}

/* 타이틀 */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


.login-title {
  font-family: 'Black Han Sans', sans-serif; /* 폰트 이름과 대체 폰트 지정 */
  font-weight: 400;           /* 글자 두께 */
  font-style: normal;         /* Regular = normal */
  font-size: 64px;            /* 글자 크기 */
  line-height: 100%;          /* 줄 높이 */
  letter-spacing: 1%;     

}

/* 라벨 */
.login-label {
  display: block;
  text-align: left;
  font-size: 20px;
  font-weight: 400px; 
  margin-bottom: 6px;
  color: #000;
}

/* 입력창 */
.login-input {
  width: 286px;
  height: 76px;
  top: 399px;
  left: 58px;
  padding: 10px;
  border: none;
  border-radius: 11px;
  background-color: #D9D9D9;
  margin-bottom: 30px;
  font-size: 20px;
  box-sizing: border-box;
}

/* 링크 */
.login-links {
  font-size: 20px;
  color: #000;
  margin-top: 5px;
  cursor: pointer;
}