.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 16px;
  font-family: sans-serif;
  box-sizing: border-box;
  position: relative; /* 배경 이미지 겹치기 기준 */
  height: 932px; /* 필요에 따라 높이 조정 */
}

.my {
  border-radius: 30px;
  width: 10%;
  height: 4.7%; /* 화면(viewport) 전체 높이 */
  background-color: white;
  position: absolute;
  top: 2%;
  right: 3%;
  z-index: 0; /* 배경 뒤로 보내기 */
}

.wp {
  width: 100%;
  height: 100vh; /* 화면(viewport) 전체 높이 */
  background-color: #FED800;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* 배경 뒤로 보내기 */
}

.title3{
    transform: translate(-50%, -50%); /* 자기 크기만큼 반 이동 → 완전 중앙 */
    width: 150px;
    height: 37px;
    left: 15%;
    top: 4%;
    position: absolute;
    z-index: 6;
}

.zzim{
   transform: translate(-50%, -50%);
  border-radius: 15px;
  width:84%;
  height: 8%; /* 화면(viewport) 전체 높이 */
  background-color: white;
  position: absolute;
  top: 13%;
  left: 50%;
  z-index: 1; /* 배경 뒤로 보내기 */
}

.zzim2{
   transform: translate(-50%, -50%);
  border-radius: 7px;
  width:90%;
  height: 45%; /* 화면(viewport) 전체 높이 */
  background-color: #EAE9E9;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 3; /* 배경 뒤로 보내기 */
}

.zzim3{
   transform: translate(-50%, -50%);
  border-radius: 7px;
  width:86%;
  height: 45%; /* 화면(viewport) 전체 높이 */
  background-color: #B3B3B3;
  position: absolute;
  top: 63%;
  left: 50%;
  z-index: 2; /* 배경 뒤로 보내기 */
}

.heart{
    transform: translate(-50%, -50%); /* 자기 크기만큼 반 이동 → 완전 중앙 */
    width: 24px;
    height: 22px;
    left: 89%;
    top: 40%;
    position: absolute;
    z-index: 6;
    
}

.wp2 {
  border-radius: 25px;
  width: 100%;
  height: 80%; /* 화면(viewport) 전체 높이 */
  background-color: #F6F6F6;
  position: absolute;
  top: 18%;
  left: 0;
  z-index: 1; /* 배경 뒤로 보내기 */
}

.sb{
  transform: translate(-50%, -50%);
  border-radius: 17px;
  width:90%;
  height: 5%; /* 화면(viewport) 전체 높이 */
  background-color: #F6F6F6;
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: 1; /* 배경 뒤로 보내기 */
  border: 2px solid black;
}

.search{
    transform: translate(-50%, -50%); /* 자기 크기만큼 반 이동 → 완전 중앙 */
    width: 24px;
    height: 32px;
    left: 7%;
    top: 50%;
    position: absolute;
    z-index: 6;
}

.sb h1{
    position: absolute;
    white-space: nowrap;  /* 🔹 텍스트 줄바꿈 방지 */
    font-size: 13px;
    font-weight: 400;
    transform: translate(-50%, -50%);
    left: 38%;
    top: 30%;
    z-index: 4;
}

.write{
    transform: translate(-50%, -50%); /* 자기 크기만큼 반 이동 → 완전 중앙 */
    width: 28.6px;
    height: 27px;
    left: 90%;
    top: 4.7%;
    position: absolute;
    z-index: 6;
}

.post{
   transform: translate(-50%, -50%);
  border-radius: 18px;
  width:80%;
  height: 24%; /* 화면(viewport) 전체 높이 */
  background-color: white;
  position: absolute;
  top: 23%;
  left: 50%;
  z-index: 2; /* 배경 뒤로 보내기 */
}

.post2{
   transform: translate(-50%, -50%);
  border-radius: 18px;
  width:80%;
  height: 24%; /* 화면(viewport) 전체 높이 */
  background-color: white;
  position: absolute;
  top: 52%;
  left: 50%;
  z-index: 2; /* 배경 뒤로 보내기 */
}

.bar{

  transform: translate(-50%, -50%);
  width:100%;
  height: 17%; /* 화면(viewport) 전체 높이 */
  background-color: #F6F6F6;
  position: absolute;
  top: 94%;
  left: 50%;
  z-index: 2; /* 배경 뒤로 보내기 */
}

.s1 {
  transform: translate(-50%, -50%);
  border-radius: 300px;
  width: 65px;
  height: 65px; /* 화면(viewport) 전체 높이 */
  background-color: white;
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 1; /* 배경 뒤로 보내기 */
}

.s2 {
  transform: translate(-50%, -50%);
  border-radius: 300px;
  width: 65px;
  height: 65px; /* 화면(viewport) 전체 높이 */
  background-color: white;
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 1; /* 배경 뒤로 보내기 */
}

.s3 {
  transform: translate(-50%, -50%);
  border-radius: 300px;
  width: 65px;
  height: 65px; /* 화면(viewport) 전체 높이 */
  background-color: white;
  position: absolute;
  top: 40%;
  left: 60%;
  z-index: 1; /* 배경 뒤로 보내기 */
}

.s4 {
  transform: translate(-50%, -50%);
  border-radius: 300px;
  width: 65px;
  height: 65px; /* 화면(viewport) 전체 높이 */
  background-color: white;
  position: absolute;
  top: 40%;
  left: 80%;
  z-index: 1; /* 배경 뒤로 보내기 */
}

.s1 img{
  width: 65%;     /* 서클 안 여유 공간 */
  height: 50%;
  left: 18%;
  top: 24%;
   position: absolute;
}
.s2 img{
      width: 60%;     /* 서클 안 여유 공간 */
  height: 50%;
    left: 18%;
  top: 24%;
   position: absolute;
}
.s3 img {
  width: 60%;     /* 서클 안 여유 공간 */
  height: 55%;
    left: 26%;
  top: 19%;
   position: absolute;
}

.s4 img {
  width: 50%;     /* 서클 안 여유 공간 */
  height: 70%;
    left: 29%;
  top: 17%;
   position: absolute;
}

.bar h1{
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    transform: translate(-50%, -50%);
    left: 20%;
    top: 70%;
    z-index: 4;
}

.bar h2{
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    transform: translate(-50%, -50%);
    left: 40%;
    top: 69%;
    z-index: 4;
}

.bar h3{
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    transform: translate(-50%, -50%);
    left: 60%;
    top: 67%;
    z-index: 4;
}

.bar h4{
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    transform: translate(-50%, -50%);
    left: 80%;
    top: 64%;
    z-index: 4;
}