.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #E7F2F4; /* 연한 하늘색 */
  border-radius: 20px;
  padding: 24px;
  width: 70%;
  max-width: 360px;
  text-align: center;
}

.logoWrap {
  margin-bottom: 20px;
}

.Modal_logo {
  width: 175px;
    height: 70px;
}

/* 입력 그룹 */
.inputGroup {
    
  margin-bottom: 16px;
}

.inputGroup input {
  width: 90%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #d9d9d9;
  font-size: 14px;
}

/* 완료 버튼 */
.completeBtn {
  width: 30%;
  height: 40px;
  padding: 12px;
  background: #ffd600;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
